@page "/"
@using QRCoder;
@using System.Drawing;
@using System.IO;

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(ImageBytes))" />
@code {
    public byte[] ImageBytes { get; set; }

    protected override void OnInitialized()
    {
        QRCodeGenerator qrGenerator = new QRCodeGenerator();
        QRCodeData qrCodeData = qrGenerator.CreateQrCode("The text which should be encoded.", QRCodeGenerator.ECCLevel.Q);
        QRCode qrCode = new QRCode(qrCodeData);
        Bitmap qrCodeImage = qrCode.GetGraphic(20);
        var byteArray = ImageToByteArray(qrCodeImage);
        this.ImageBytes = byteArray;
    }

    private byte[] ImageToByteArray(Image img)
    {
        MemoryStream ms = new MemoryStream();
        img.Save(ms, System.Drawing.Imaging.ImageFormat.Bmp);
        return ms.ToArray();
    }
}